.page-ttl {
    text-align: center;
    font-size: 30px;
    background: #f6f6f6;
    margin: 30px 50px 10px;
    padding: 10px 0;
    color: #505050;
}

.table-cont {
    padding: 10px 50px;
}

div.jtable-main-container table.jtable tbody > tr {
    height: 45px;
}